[core]
excludesfile = /Users/maksym.bondarchuk/.gitignore_global
editor = vim
	hooksPath = /home/belkamax05/shell/hooks
[difftool "sourcetree"]
cmd = opendiff \"$LOCAL\" \"$REMOTE\"
path =
[mergetool "sourcetree"]
cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
trustExitCode = true
[user]
	email = belkamax05@gmail.com
	name = Maksym Bondarchuk
[push]
autoSetupRemote = true
[commit]
template = /Users/maksym.bondarchuk/.stCommitMsgi

[alias]
st = status -s
sta = status
conf = config --global --edit
cge = config --global --edit
ci = commit
co = checkout
cod = checkout .
rh = reset HEAD
cdf = clean -df # command is used to remove untracked files and directories from your Git repository. AAA1
br = branch
bra = branch -a
pr = pull --rebase
amend = commit -a --amend --no-edit
ciam = commit -a --amend --no-edit
last = log -10 --oneline
ps = push
psn = push --no-verify
cm = commit -m
sw = switch
swc = switch -c

#! scripts runner
ext = "!zsh -c 'git-$0 $@'"

#! extension scripts
at = "!git ext at"
fast-commit = "!git ext fast-commit"
fast-push = "!git ext fast-push"
fast-sync = "!git ext fast-sync"
fast-sync-staged = "!git ext fast-sync-staged"
fast-sync-full = "!git ext fast-sync-full"
stage-all = "!git ext stage-all"
status-simple = "!git ext status-simple"
hello = "!git ext hello"
get-current-branch = "!git ext get-current-branch"
me = "!git ext me"

#! commands
repo = "!zsh -c 'repo $0 $@'"
#! commands
created = "!git repo created"
created-count = "!git repo created-count"
current-user = "!git repo current-user"
current-user-email = "!git repo current-user-email"
current-user-name = "!git repo current-user-name"
deleted = "!git repo deleted"
deleted-count = "!git repo deleted-count"
github-open = "!git repo github-open"
modified = "!git repo modified"
modified-count = "!git repo modified-count"
root = "!git repo root"
save = "!git repo save"
staged = "!git repo staged"
staged-count = "!git repo staged-count"
stage-modified = "!git repo stage-modified"
submit = "!git repo submit"
submit-all = "!git repo submit-all"
sync = "!git repo sync"
unstaged = "!git repo unstaged"
unstaged-count = "!git repo unstaged-count"


#! profile
vml = "!git repo set-email maksym.bondarchuk@vml.com"
personal = "!git repo set-email belkamax05@gmail.com"

#! alias
fc= "!git fast-commit"
fp="!git fast-push"
fps="!git fast-push"

#! old
merge-squash-reset = "!git z merge-squash-reset"
dialog-commit = "!git z dialog-commit"
hard-reset = "!git z hard-reset"
soft-reset = "!git z soft-reset"
github-open = "!git z github-open"
repo-root = "!git z repo-root"
fast-submit = "!git z fast-submit"
#! aliases to commands
msr= "!git merge-squash-reset"
pull-branch= "!git merge-squash-reset"
dc= "!git dialog-commit"
cm= "!git dialog-commit"
comm= "!git dialog-commit"
hr="!git hard-reset"
sr="!git soft-reset"
aa="!git stage-all"
au="!git stage-modified"
sf="!git staged-files"
sfc="!git staged-files-count"
uf="!git unstaged-files"
ufc="!git unstaged-files-count"
mf="!git modified-files"
mfc="!git modified-files-count"
cf="!git created-files"
cfc="!git created-files-count"
df="!git deleted-files"
dfc="!git deleted-files-count"
gho="!git github-open"

[safe]
	directory = /app
